name: Deploy Fedora Nextcloud via Ansible

on:
  push:
    branches:
      - ansible
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Ansible
        run: |
          python -m pip install --upgrade pip
          pip install ansible

      - name: Setup SSH key
        uses: webfactory/ssh-agent@v0.8.1
        with:
          ssh-private-key: ${{ secrets.ANSIBLE_SSH_PRIVATE_KEY }}

      - name: Test SSH connection
        run: ssh -o StrictHostKeyChecking=no arnur@10.0.2.15 'echo Connection OK'

      - name: Run Ansible playbook
        run: |
          cd ansible
          ansible-playbook playbook.yml -i inventory.ini --tags docker --ask-become-pass
