name: Deploy Nextcloud

on:
  push:
    branches:
      - ansible

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - name: Run Ansible playbook
        run: |
          cd ansible
          ansible-playbook playbook.yml --ask-become-pass
